
@{
    ViewBag.Title = "Olympian Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="unfnav" style="font-size: 40px">Olympian Plan</h2>
<hr />

<div class="row unfnav">
    <div class="col-md-8" style="background-color:rgba(179,179,179,.5);">
        <p style="font-size: 35px">
            Our Olympian package offers you the full experience for a dedicated gym goer. <br />
            <br />
            Includes: <br />
            <ul style="font-size: 25px">
                <li>Access to basic gym equipment and indoor track</li>
                <li>Access to tennis court and basketball court</li>
                <li>Unlimited use of spa services such as tanning bed and sauna</li>
                <li>5 free sessions with a personal trainer</li>
            </ul>
            <br />
        </p>

    </div>
    <div class="col-md-4">
        <img src="~/images/olympian.jpg" style="max-width:100%" />
    </div>

</div>
<br />

<div class="row">
    <div class="col-md-3 bluebtn">
        <p style="font-size: 300%">
            $18/month
        </p>

        <p style="font-size: 24px">
            Unlimited Access
        </p>

        <p><a class="btn btn-default whitebtn" href="@Url.Action("CreateAccount","Users")">Purchase &raquo;</a></p>
    </div>
    <div class="col-md-9">

    </div>
</div>