@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbo">
    <h1>Osprey Olympians</h1>
    <p class="lead">Awakening the Olympian in you!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg whitebtn">Join Now &raquo;</a></p>
</div>

<div class="row plans">
    <div class="col-md-4">
        <h2>Swoop Plan</h2>
        <p>
            Just starting out?<br />
            Try our introductory plan and swoop into better health.
        </p>
        <p><a class="btn btn-default bluebtn" href="@Url.Action("Plan1","Plan")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Soar Plan</h2>
        <p>If you are ready to ramp up your workout try the Soar Plan.</p>
        <p><a class="btn btn-default bluebtn" href="@Url.Action("Plan2","Plan")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Olympian Plan</h2>
        <p>Collegiate athletes and pros should join our unlimited workout plan.</p>
        <p><a class="btn btn-default bluebtn" href="@Url.Action("Plan3","Plan")">Learn more &raquo;</a></p>
    </div>
</div>